body {
  font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #031625;
}

#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 20%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.tl-item:before,
.tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.tl-item:before {
  background: -webkit-linear-gradient(top, transparent 0%, black 75%);
  background: linear-gradient(to bottom, transparent 0%, black 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
  transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}

.tl-item:hover {
  width: 70% !important;
}

.tl-item:hover:after {
  opacity: 0;
}

.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
  transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 1.25s ease 0.80s;
  transition: all 1.25s ease 0.80s;
}

.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 50%;
  opacity: 0;
}

.tl-content h1 {
  font-family: 'Cairo', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #008E4C;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-content a {
  font-family: 'Cairo', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #008E4C;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.tl-year img {
  padding: 10px;
}

.tl-year p {
  font-family: 'Cairo', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.728rem;
  line-height: 0;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

/* if desktop */
.mobile_device_380px {
  display: none;
}

.mobile_device_480px {
  display: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

/* if mobile device max width 380px */

.mytap{
  height: 200px;
}

/* The base code is from https://www.cssscript.com/demo/pure-css-vertical-image-accordion-slider/ I just adapted it in scss and put it on codepen*/
body{
  background-color: black;
}
.accordion {
  width: 100%;
  /* max-width: 1080px; */
  height: 250px;
  overflow: hidden;
  /* margin: 50px auto; */
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 33.33%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease;
}

.accordion ul li:nth-child(1) {
  background-color: #fff;
    background-image: url("../img/t15.jpg");
    -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.accordion ul li:nth-child(2) {
  background-color: #fff;
  background-image: url("../img/t4.jpg");
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.accordion ul li:nth-child(3) {
  background-color: #fff;
  background-image: url("../img/t2.jpg");
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.accordion ul li:nth-child(4) {
  background-color: #fff;
  background-image: url("../img/t13.jpg");
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.accordion ul li:nth-child(5) {
  background-color: #fff;
  background-image: url("../img/t14.jpg");
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.accordion ul li:nth-child(6) {
  background-color: #fff;
  background-image: url("../img/t11.jpg");
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-20px);
  transition: all 400ms ease;
}

.accordion ul li div a h2 {
  font-family: 'Cairo', Helvetica Neue, Helvetica, Arial, sans-serif;  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
  /*ul*/
}

.accordion ul:hover li {
  width: 10%;
}

.accordion ul:hover li:hover {
  width: 80%;
}

.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 800px) {
  body {
      margin: 0;
  }

  .accordion {
      height: auto;
  }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      -webkit-transition: none;
      transition: none;
  }
}

@media only screen and (max-width: 800px) {
  #fadeshow1 {
      display: none;
  }
}
@media only screen and (min-width: 800px) {
  #fadeshow2{
    display: none;
  }
}